<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hotfix">

    <!-- 通用权限 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- android:largeHeap="true" 申请更大的运行内存 -->
    <application
        android:name="com.example.hotfix.MyApplicationPlug"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon,label">

        <activity
            android:name="com.example.hotfix.ui.activity.SplashActivityPlug"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="cainiao"
                    android:pathPrefix="/openwith"
                    android:scheme="renxingzhuanapp" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.hotfix.ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor" />

        <!-- glide集成Okhttp证书 -->
        <meta-data
            android:name="com.example.hotfix.utils.glideUtils.UnsafeOkHttpGlideModule"
            android:value="GlideModule" />

    </application>

</manifest>